<div class="form">
  <form class="form__container" (ngSubmit)="deleteMenu()">
    <label for="menuId" class="form__label">ID del Menú</label>
    <input
      id="menuId"
      type="number"
      [(ngModel)]="menuId"
      name="menuId"
      placeholder="Ingrese el ID del menú"
      class="form__input"
      required
    />
    <button type="submit" class="form__button">Eliminar</button>
  </form>
  <div
    *ngIf="message"
    [ngClass]="{
      'form__message--success': messageType === 'success',
      'form__message--error': messageType === 'error'
    }"
    class="form__message"
  >
    {{ message }}
  </div>
</div>
