<div class="form">
  <form class="form__container" (ngSubmit)="saveOrder()">
    <label for="customerId" class="form__label">ID del Cliente</label>
    <input
      id="customerId"
      type="number"
      [(ngModel)]="customerId"
      name="customerId"
      placeholder="Ingrese el ID del cliente"
      class="form__input"
      required
    />
    <label for="dishIds" class="form__label">IDs de los Platos</label>
    <input
      id="dishIds"
      type="text"
      [(ngModel)]="dishIds"
      name="dishIds"
      placeholder="Ingrese los IDs de los platos separados por comas"
      class="form__input"
      required
    />
    <button type="submit" class="form__button">Guardar</button>
  </form>
  <div
    *ngIf="message"
    [ngClass]="{
      'form__message--success': messageType === 'success',
      'form__message--error': messageType === 'error'
    }"
    class="form__message"
  >
    {{ message }}
  </div>
</div>
