@use "../../../../ui/variables.scss" as *;

.dish-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-sm;
  background-color: $color-light-gray;

  &__container {
    width: 100%;
    max-width: 600px;
    background-color: $color-white;
    padding: $spacing-lg;
    border-radius: $border-radius-lg;
    box-shadow: $box-shadow-lg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: $spacing-xl;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-md;
    color: $color-dark-gray;
    width: 100%;
  }

  &__items {
    list-style: none;
    padding: 0;
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-sm;
    margin-bottom: $spacing-sm;
    background-color: $color-light-gray;
    color: $color-dark_gray;
    border: $border-width solid $color-gray;
    border-radius: $border-radius-md;
    transition: border-color $transition-fast, box-shadow $transition-fast;

    &:hover {
      border-color: $color-primary;
      box-shadow: 0 0 5px $color-primary;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__item-id {
    font-size: $font-size-small;
    color: $color-primary;
    margin-bottom: $spacing-xs;
  }

  &__item-name {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $color-dark-gray;
    margin-bottom: $spacing-xs;
  }

  &__item-price {
    font-size: $font-size-small;
    color: $color-gray;
  }
}
