<section class="home">
  <h1 class="home__title">Gestión Administrativa</h1>
  <p class="home__description">
    Selecciona una de las opciones para administrar los diferentes aspectos de
    la plataforma.
  </p>

  <div class="home__management-options">
    <div
      class="management-option"
      *ngFor="let option of managementOptions"
      (click)="navigateTo(option.route)"
    >
      <span class="management-option__icon material-icons">
        {{ option.icon }}
      </span>
      <div class="management-option__info">
        <h2 class="management-option__title">{{ option.title }}</h2>
        <p class="management-option__description">{{ option.description }}</p>
      </div>
    </div>
  </div>
</section>
