<div class="form">
  <form class="form__container" (ngSubmit)="saveDish()">
    <label for="dishName" class="form__label">Nombre del Plato</label>
    <input
      id="dishName"
      type="text"
      [(ngModel)]="dishName"
      name="dishName"
      placeholder="Ingrese el nombre del plato"
      class="form__input"
      required
    />
    <label for="dishPrice" class="form__label">Precio del Plato</label>
    <input
      id="dishPrice"
      type="number"
      [(ngModel)]="dishPrice"
      name="dishPrice"
      placeholder="Ingrese el precio del plato"
      class="form__input"
      required
    />
    <button type="submit" class="form__button">Guardar</button>
  </form>
  <div
    *ngIf="message"
    [ngClass]="{
      'form__message--success': messageType === 'success',
      'form__message--error': messageType === 'error'
    }"
    class="form__message"
  >
    {{ message }}
  </div>
</div>
