<div class="form">
  <form class="form__container" (ngSubmit)="updateCustomer()">
    <label for="customerId" class="form__label">ID del Cliente</label>
    <input
      id="customerId"
      type="number"
      [(ngModel)]="customerId"
      name="customerId"
      placeholder="Ingrese el ID del cliente"
      class="form__input"
      required
    />
    <label for="customerName" class="form__label">Nombre del Cliente</label>
    <input
      id="customerName"
      type="text"
      [(ngModel)]="customerName"
      name="customerName"
      placeholder="Ingrese el nombre del cliente"
      class="form__input"
      required
    />
    <button type="submit" class="form__button">Actualizar</button>
  </form>
  <div
    *ngIf="message"
    [ngClass]="{
      'form__message--success': messageType === 'success',
      'form__message--error': messageType === 'error'
    }"
    class="form__message"
  >
    {{ message }}
  </div>
</div>
