<div class="order-list">
  <div class="order-list__container">
    <h1 class="order-list__title">Lista de Pedidos</h1>
    <div
      *ngIf="message"
      [ngClass]="{
        'order-list__message--success': messageType === 'success',
        'order-list__message--error': messageType === 'error'
      }"
      class="order-list__message"
    >
      {{ message }}
    </div>
    <ul class="order-list__items">
      <li *ngFor="let order of orders$ | async" class="order-list__item">
        <div class="order-list__info">
          <span class="order-list__item-id">Id: {{ order.id }}</span>
          <span
            *ngIf="order.customer; else noCustomer"
            class="order-list__item-customer"
            >Cliente: {{ order.customer.name }}</span
          >
          <ng-template #noCustomer>
            <span class="order-list__item-customer"
              >Cliente: No disponible</span
            >
          </ng-template>
          <span class="order-list__item-total"
            >Total: {{ order.total | currency : "USD" }}</span
          >
          <ul class="order-list__dishes">
            <li *ngFor="let dish of order.dishes" class="order-list__dish">
              Plato: {{ dish.name }}
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
