@use "../../../../ui/variables.scss" as *;

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-sm;
  background-color: $color-light-gray;
}

.form__container {
  width: 100%;
  max-width: 450px;
  background-color: $color-white;
  padding: $spacing-lg;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow-lg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: $spacing-xl;
}

.form__label {
  display: block;
  margin-bottom: $spacing-xs;
  color: $color-dark-gray;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  text-transform: capitalize;
}

.form__input {
  width: 100%;
  padding: $spacing-sm;
  margin-bottom: $spacing-md;
  background-color: $color-light-gray;
  color: $color-dark-gray;
  border: $border-width solid $color-gray;
  border-radius: $border-radius-md;
  font-size: $font-size-base;
  transition: border-color $transition-fast, box-shadow $transition-fast;

  &::placeholder {
    color: $color-gray;
  }

  &:focus {
    border-color: $color-primary;
    box-shadow: 0 0 5px $color-primary;
    outline: none;
  }
}

.form__button {
  width: 100%;
  padding: $spacing-sm;
  background-color: $color-primary;
  color: $color-white;
  border: none;
  border-radius: $border-radius-lg;
  font-size: $font-size-large;
  cursor: pointer;
  transition: background-color $transition-fast, transform $transition-normal,
    opacity $transition-fast;

  &:hover {
    opacity: 0.8;
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px $color-primary;
  }
}
